<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [2]:
#Exercise 2: Create markdown cell with title of the notebook

Data Science Tools and Ecosystem

In [3]:
#Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [15]:
#Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science.
- Introduce common data science tools and development environments.
- Discuss popular libraries used in data science such as NumPy, Pandas, and Matplotlib.
- Demonstrate basic data analysis techniques using Python and Jupyter Notebook.

In [4]:
#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. C++

In [5]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. scipy

In [6]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Spyder |

In [7]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [16]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
kamal